/*
///////////////////////////////////////////////////////////////
// scss/theme/_containers.scss : theme for containers
///////////////////////////////////////////////////////////////
*/

#header{
  color: #fff;
  background: $ship-cove;
}

#container{
  background: $muled-wine;
}

#dashboard {
  color: $color--primary;
  background: $white;
}

// Test for d3 chart
#charts--line{
  width: 100%;
  max-width: 1024px;
  margin: 25px auto;
}

.charts--line{
  width: 1024px;
  height: 1024px;
}
