/*
///////////////////////////////////////////////////////////////
// scss/theme/_containers.scss : theme for containers
///////////////////////////////////////////////////////////////
*/

#header{
  color: #fff;
  background: $ship-cove;
}

#container{
  background: $muled-wine;
}

#dashboard {
  color: $color--primary;
  background: $white;
}

// Test for d3 chart
#charts--line{
  width: 100%;
  max-width: 1024px;
  margin: 25px auto;
}

.bar{
  display: inline-block;
  width: 25px;
  height: 300px;
  background: #7ed26d;
}