/*
///////////////////////////////////////////////////////////////
// scss/theme/_containers.scss : theme for containers
///////////////////////////////////////////////////////////////
*/

#header{
  color: #fff;
  background: $ship-cove;
}

#container{
  background: $muled-wine;
}

#dashboard {
  color: $color--primary;
  background: $white;
}