.icon__nav,
.icon--search {
  width: em(32px);
  height: em(32px);
  fill: $white;
}

.icon {
  @include e(social){
    border-radius: $border-radius--round;
    background: $color__icon--background;
    fill: 'black';
    margin: 0 auto;
    width: em(72px);
    height: em(72px);
    svg{
        width: em(48px);
        height: em(48px);
        margin: 12px 0;
    }
  }
  @include m(bell-alert){
    fill: $color--accent;
  }
}

.header {
  @include e(icon) {
    @include m(bell){
      width: em(48px);
      height: em(48px);
      fill: white;
    }  
  }
}


