.nav__icon,
.icon--search {
    width: em(32px);
    height: em(32px);
    fill: $white;
}
.icon {
    @include m(bell-alert){
        fill: $color--accent;
    }
}

.header {
    @include e(icon) {
        @include m(bell){
            width: em(48px);
            height: em(48px);
            fill: white;
        }  
    }
}