
// Navigation menu
ul {
  @include flex(row);
  justify-content: space-evenly;
  li{
    @extend %centered;
    margin-top: em(25px);
    @include media-query(medium){
      margin-left: 0;
      margin-right: auto;
    }
  }
  @include media-query(medium){
    @include flex(column);
  }
}

#header {
  display: grid;
  grid-template-columns: repeat(2,2fr);
  justify-content: space-between;
  grid-gap: em(5px) em(5px);
  @include media-query(medium){
    grid-template-columns: 3fr repeat(3,1fr);
  }
  padding: em(10px);

}

.header {
  p{
    margin: auto 0;
  }
  @include e(logo){
    text-align: left;
  }
  @include e(icon) {
    @include m(bell) {
      margin: auto em(10px) auto auto;
    }
  }
}