/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_grid.scss :  grid container for grid system
////////////////////////////////////////////////////////////////////////////////
*/


// Grid style
// [class^='grid__col--'] {
//   margin-left: $gutter;
//   margin-right: $gutter;
//   @include flex(column);
// }

.container {
  @extend %clearfix;
  @extend %centered;
  

  @include flex(column);
  @include media-query(medium){
    max-width: $max-width;
    justify-content: space-between;
  }
}

.header{
  position: relative;
  width: 100%;
  z-index: 2;
  @include media-query(medium){
    @include flex(row);
    align-items: center;
  }
  .grid__col--6{
    justify-content: flex-start;
  }
  .grid__col--4{
    justify-content: flex-end;
     
    padding: 20px;
  }
  .grid__col--1{
    justify-content: flex-end;
    border-left: 1px solid $color--shadow;
    img{
      border-left: 1px solid $color--shadow;
      margin: 0px;
    }
  }
  
}

.nav{
  ul{
    @include flex(row);
    align-items: center;
    justify-content: space-around;
    padding: em(10px);
  }
}

#dashboard--search{
  h1{
    margin-bottom: 0;
  }
  div:last-of-type{
    padding: 10px;
  }
  @include media-query(medium) {
   h1{
     margin: 0;
   }
  }
}
.searchBox{
  outline: none;
  padding: 10px;
  border-radius: $border-radius--default;
  border: 1px solid grey;
  align-content: center;
}

.fab.fa-searchengin{
  display: none;
  @include media-query(medium) {
    display: inline;
    padding: 5px;
    top: 5px;
    font-size: 30px;
    margin-left: -60px;
    -webkit-text-fill-color: $color__icon--background;
    fill:  $color__icon--background;
  }
}
.alert{
  display: flex;
  font-weight: $font-weight--ultra-bold;
  justify-content: space-between;
}

.charts{
  @include m(nav){
    li{
      padding: 5px;
      margin: 5px;
      border: 1px solid grey;
      border-radius: $border-radius--default;
      &.active{
        background-color: $color--header-background;
        color: $white;
      }
    }
    margin-top: 10px;
    @include media-query(medium) {
      ul{
        display: inline-flex;
        justify-content: space-around;
      }
      li{
        border: 1px solid grey;
        border-radius: 400px;
        width: 150px;
        position: static;
        padding: 10px;
        &:hover, &.active{
          background-color: $color--header-background;
          color: $white;
          font-weight: $font-weight--ultra-bold;
        }
      }
    }  
  }
  @include m(line){
    margin-top: em(20px);
  }
  @include m(bar){
    margin-top: em(20px);
  }
  @include m(doughnut){
    margin-top: em(20px);
  }
}

.social-stats--group{
  border: 1px solid grey;
  margin: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: lighten($silver-chalace, 25%);
} 
#social-stats{
  margin-top: 40px;
  h3{
    color: $color--secondary;
    margin: 0;
  }
  p{
    margin: 0;
    font-size: em(40px);
  }

  @include media-query(medium) {
    align-items: center;
    p{
      text-align: left;
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
}
div.icon__social{
  margin: 0 20px 0 0;
}


.grid {

  @include e(col){
      @for $i from 1 through $grid-column-count {
        @include m(#{$i}) {
          @include media-query(medium) {
            @include flex(row){
              // justify-content: space-around;
              flex-grow: $i;
              max-width: (($i / $grid-column-count) * 100%);
            }
        }
      }
    }
  }

  @include e(row) {
    align-items: center;
    width: 100%;
    @extend %centered;
    @include media-query(medium) {
      @include flex(row);
      &:first-of-type{
        align-items: center;
      }
    }
    &:last-of-type{
      // margin-bottom: em(40px);
    }
  }
}