/*
///////////////////////////////////////////////////////////////
// scss/module/_typography.scss :Typography Styles
///////////////////////////////////////////////////////////////
*/

.header {
  // position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  background: $color--header-background;
  color: $color--header;
  @include m(logo){
    font-family: $font-family--primary;
    font-weight: $font-weight--light;
    & span:first-of-type{
      font-weight: $font-weight--ultra-bold;
    }
  }
  @include m(logo-trademark) {
    font-weight: $font-weight--thin;
    font-size: 0.75em;
    vertical-align: top;
  }
  p{
    margin: 0;
    padding: 10px;
    text-transform: capitalize;
    font-family: $font-family--primary;
    font-weight: $font-weight--light;
  }
  h1{
    margin: 0;
    padding: 10px;
  }
}

#container {
  font-family: $font-family--primary;
  font-weight: $font-weight--light;
  max-width: 100%;
  @include media-query(medium) {
    max-width: $max-width;
  }
}

#dashboard {
  text-align: center;
  font-family: $font-family--primary;
  font-weight: $font-weight--light;
  h1{
    color: $color--secondary;
  }
}

#alert{
  background: $color__alert--default;
  color: $white;
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
  border-radius: $border-radius--default;
  padding: em(10px);
}

#charts--line{
  // max-width: 1024px;
  // margin: 0 auto;
}
#new-members, #recent-activity{
  text-align: left;
  text-transform: capitalize;
}